@{
    ViewData["Title"] = "Detalle de tablero";
    int idUsuario = (int)Context.Session.GetInt32("idUsuario");
    string display = "none";
}
@using Kanban.Models
@model TableroVM_space.TableroVM

<style>
    #ventana
    {
        overflow: auto;
        border: 2px solid black;
        background-color: rgb(156, 156, 156);    
    }

    

    .hover-container:hover #mostrar-hover
    {
        display: block;
    }

    .hover-container
    {
        position: relative;
        overflow: visible;
    }
</style>


<header class="mb-5">
    <h1>Tablero: @Model.Tablero.Nombre</h1>
</header>

<div class="descripcion mb-3 p-2">
    <h3>Descripción</h3>
    <p>@Model.Tablero.Descripcion</p>
</div>

@if(@Model.Tablero.IdUsuarioPropietario == idUsuario)
{
    <a asp-action="CrearTarea" asp-controller="Tareas" asp-route-idTablero="@Model.Tablero.Id" class="btn btn-success mb-3">Crear Tarea</a>
}

<div class="row">
    <div class="col" id="ventana">
        <h2 style="background-color: @Model.EstadoTareaColor[1];">Ideas</h2>
        <ul>
            @foreach(var t in @Model.Ideas)
            {
                <li class="hover-container">
                    <div class="w-100">
                        <p>@t.Nombre</p>
                    </div>
                    <div class="w-100">
                        <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning" asp-route-id="@t.Id">Detalle</a>
                    </div>
                    <p id="#mostrar-hover">@t.Descripcion</p>
                </li>
            }
        </ul>
    </div>

    <div class="col" id="ventana">
        <h2 style="background-color: @Model.EstadoTareaColor[2];">ToDo</h2>
        <ul>
            @foreach(var t in @Model.ToDo)
            {
                <li class="hover-container">
                    <div class="w-100">
                        <p>@t.Nombre</p>
                    </div>
                    <div class="w-100">
                        <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning" asp-route-id="@t.Id">Detalle</a>
                    </div>
                    <p id="#mostrar-hover">@t.Descripcion</p>
                </li>
            }
        </ul>
    </div>

    <div class="col" id="ventana">
        <h2 style="background-color: @Model.EstadoTareaColor[3];">Doing</h2>
        <ul>
            @foreach(var t in @Model.Doing)
            {
                <li class="hover-container">
                    <div class="w-100">
                        <p>@t.Nombre</p>
                    </div>
                    <div class="w-100">
                        <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning" asp-route-id="@t.Id">Detalle</a>
                    </div>
                    <p id="#mostrar-hover">@t.Descripcion</p>
                </li>
            }
        </ul>
    </div>

    <div class="col" id="ventana">
        <h2 style="background-color: @Model.EstadoTareaColor[4];">Reviw</h2>
        <ul>
            @foreach(var t in @Model.Review)
            {
                <li class="hover-container">
                    <div class="w-100">
                        <p>@t.Nombre</p>
                    </div>
                    <div class="w-100">
                        <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning" asp-route-id="@t.Id">Detalle</a>
                    </div>
                    <p id="#mostrar-hover">@t.Descripcion</p>
                </li>
            }
        </ul>
    </div>

    <div class="col" id="ventana">
        <h2 style="background-color: @Model.EstadoTareaColor[5];">Done</h2>
        <ul>
            @foreach(var t in @Model.Done)
            {
                <li class="hover-container">
                    <div class="w-100">
                        <p>@t.Nombre</p>
                    </div>
                    <div class="w-100">
                        <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning" asp-route-id="@t.Id">Detalle</a>
                    </div>
                    <p id="#mostrar-hover">@t.Descripcion</p>
                </li>
            }
        </ul>
    </div>
</div>

@if(@Model.Tablero.IdUsuarioPropietario == idUsuario)
{
    <a asp-action="EliminarTablero" asp-controller="Tableros" asp-route-id="@Model.Tablero.Id" class="btn btn-danger mt-3">Eliminar tablero</a>
}