@{
    ViewData["Title"] = "Eliminar Tablero";
}
@using Kanban.Models
@model Tablero_space.Tablero

@if(ViewBag.error != null && ViewBag.error != "")
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.error
    </div>
}

<h1 class="mb-5">Eliminar Tablero</h1>

<div class="d-flex justify-content-center min-vh-100">
<form method="post" asp-action="EliminarTablero" asp-controller="Tableros">
    <legend class="text-center">¿Está seguro que desea eliminar el tablero @Model.Nombre?</legend>

    <input type="hidden" value="@Model.Id" asp-for="Id">
    <input type="hidden" value="@Model.Nombre" asp-for="Nombre">
    <input type="hidden" value="@Model.Descripcion" asp-for="Descripcion">
    <input type="hidden" value="@Model.IdUsuarioPropietario" asp-for="IdUsuarioPropietario">

    <div class="form-group row">
        <div class="col text-center">
            <input type="submit" class="btn btn-danger px-3" value="Si">
        </div>
        <div class="col text-center">
            <a asp-action="DetalleTablero" asp-controller="Tableros" asp-route-id="@Model.Id" class="btn btn-primary">No</a>
        </div>
    </div>
</form>
</div>