@{
    ViewData["Title"] = "Lista de tableros";
    int? idUsuario = Context.Session.GetInt32("idUsuario");
    string display = "none";
}
@using Kanban.Models
@model List<TableroVM_space.TableroVM>

<header class="mb-5">
    <h1>Tableros</h1>
</header>

<style>
    .estado
    {
        border-radius: 5px;
        padding: 3px;
        margin: 0% 4%;
    }

    .tablero
    {
        background-color: rgb(34, 78, 80);
    }

    .row
    {
        --bs-gutter-x:0;
    }
    
</style>

<div>
    @foreach(var t in Model)
    {
        @if(t.Tablero.IdUsuarioPropietario == idUsuario) display = "block";
        else display = "none";

        <div class="button tablero shadow">
            <h3 class="text-white">@t.Tablero.Nombre</h3>
            <div class="mt-2 row row-dynamic text-center">
                <div class="col-dynamic row">
                    <div class="col text-center">
                        <p class="estado" style="background-color: @ViewBag.EstadoTareaColor[1];"><b>Ideas: @t.Ideas.Count</b></p>
                    </div>
                    <div class="col text-center">
                        <p class="estado" style="background-color: @ViewBag.EstadoTareaColor[2];"><b>ToDo: @t.ToDo.Count</b></p>
                    </div>
                    <div class="col text-center">
                        <p class="estado" style="background-color: @ViewBag.EstadoTareaColor[3];"><b>Doing: @t.Doing.Count</b></p>
                    </div>
                    <div class="col text-center">
                        <p class="estado" style="background-color: @ViewBag.EstadoTareaColor[4];"><b>Review: @t.Review.Count</b></p>
                    </div>
                    <div class="col text-center">
                        <p class="estado" style="background-color: @ViewBag.EstadoTareaColor[5];"><b>Done: @t.Done.Count</b></p>
                    </div>
                </div>
                <div class="row col-dynamic text-right">
                    <div class="col-4"></div>
                    <div class="text-center col-4" id="boton-tablero">
                        <a asp-action="DetalleTablero" asp-controller="Tableros" class="btn btn-warning btn-dynamic" asp-route-id="@t.Tablero.Id">Detalle</a>
                    </div>

                    <div class="text-center col-4" id="boton-tablero">
                        <a asp-action="EliminarTablero" asp-controller="Tableros" class="btn btn-danger btn-dynamic d-@display" asp-route-id="@t.Tablero.Id">Eliminar</a>
                    </div>
                </div>

                <p class="custom-tooltip d-none">@t.Tablero.Descripcion</p>
            </div>
        </div>
    }
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelectorAll('.button').forEach((button) => {
    const tooltip = button.querySelector('.custom-tooltip');
    new bootstrap.Tooltip(button, {
        customClass: 'my-custom-tooltip',
        html: true,
        title: tooltip.innerHTML,
    });
});
</script>