@{
    ViewData["Title"] = "Inicio";
    var rol = Context.Session.GetInt32("rol");
    var nombre = Context.Session.GetString("nombre");
    string display = "none";
}
@using Kanban.Models
@model IndexVM_space.IndexVM


@if(rol == 1)
{
    display = "block";
}

<style>
    #ventana
    {
        overflow: auto;
        border: 2px solid black;
        background-color: rgb(107, 168, 170);   
    }

    ul#lista-ventana
    {
        list-style: none;
        padding: 5%;
        cursor: default;
    }

    li#tablero
    {
        background-color: aquamarine;
        margin: 0;
    }

    .hover-container
    {
        position: relative;
        overflow: visible;
    }

    .borde
    {
        border: 1px solid black;
    }
</style>

<body>
    <header class="mb-5">
        <h1>Inicio</h1>
    </header>

    <div class="row w-100">
        <div  id="ventana" class="col" style="border-right: 0;">
            <h2>Tareas</h2>
            <ul id="lista-ventana">
                @foreach(var t in @Model.Tareas)
                {
                    <li class="hover-container button shadow" style="background-color: @t.Color;">
                    <div class="w-100 pb-2" id="titulo-tarea">
                        <p>@t.Nombre</p>
                    </div>

                    <div class="row-dynamic pb-1 row">
                        <div class="col-dynamic text-center">
                            <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning btn-dynamic" asp-route-id="@t.Id">Detalle</a>
                        </div>
                        <div class="col-dynamic text-center">
                            <a asp-action="DetalleTablero" asp-controller="Tableros" class="btn btn-primary btn-dynamic" asp-route-id="@t.IdTablero">Tablero</a>
                        </div>
                    </div>
                    <p class="custom-tooltip d-none">@t.Descripcion</p>
                </li>
                }
            </ul>
        </div>

        <div  id="ventana" class="col" style="border-right: 0;">
            <h2>Tableros</h2>
            <a asp-action="CrearTablero" asp-controller="Tableros" class="btn btn-primary">Crear</a>
            <ul id="lista-ventana" class="pt-0">
                @foreach(var t in @Model.Tableros)
                {
                    <li class="button my-3 row-dynamic row shadow" id="tablero">
                        <p class="col-dynamic">@t.Nombre</p>
                        <a asp-action="DetalleTablero" asp-controller="Tableros" asp-route-id="@t.Id" class="col-dynamic btn btn-primary">Detalles</a>
                    </li>
                }
            </ul>
        </div>

        <div  id="ventana" class="col">
            <h2>Usuarios</h2>
            <a asp-action="ListarUsuarios" asp-controller="Usuarios" class="d-@display btn btn-primary mb-3">Detalles</a>
            <table class="table table-bordered borde">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                </tr>

                @foreach(Usuario_space.Usuario u in @Model.Usuarios)
                {
                    <tr>
                        <td scope="col">@u.Nombre</td>
                        <td scope="col">@u.RolUsuario</td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelectorAll('.button').forEach((button) => {
    const tooltip = button.querySelector('.custom-tooltip');
    new bootstrap.Tooltip(button, {
        customClass: 'my-custom-tooltip',
        html: true,
        title: tooltip.innerHTML,
    });
});
</script>