@{
    ViewData["Title"] = "Inicio";
    var rol = Context.Session.GetInt32("rol");
    var nombre = Context.Session.GetString("nombre");
    string display = "none";
}
@using Kanban.Models
@model IndexVM_space.IndexVM


@if(rol == 1)
{
    display = "block";
}

<style>
    #ventana
    {
        overflow: auto;
        border: 2px solid black;
        background-color: rgb(156, 156, 156);    
    }

    ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li#tablero
    {
        background-color: aquamarine;
    }
</style>

<body>
    <header class="mb-5">
        <h1>Inicio</h1>
    </header>

    <div class="row w-100">
        <div  id="ventana" class="col">
            <h2>Tareas</h2>
            <ul>
                @foreach(var t in @Model.Tareas)
                {
                    <li>
                        <div class="w-100">
                            <p>@t.Nombre</p>
                            <a asp-action="DetalleTablero" asp-controller="Tableros" asp-route-id="@t.IdTablero" class="btn btn-primary">Tablero</a>
                        </div>
                        <div class="w-100">
                            <a asp-action="DetalleTarea" asp-controller="Tareas" class="btn btn-warning" asp-route-id="@t.Id">Detalle</a>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div  id="ventana" class="col">
            <h2>Tableros</h2>
            <a asp-action="CrearTablero" asp-controller="Tableros" class="btn btn-primary">Crear</a>
            <ul>
                @foreach(var t in @Model.Tableros)
                {
                    <li class="w-100 my-3 row" id="tablero">
                        <p class="col-9">@t.Nombre</p>
                        <a asp-action="DetalleTablero" asp-controller="Tableros" asp-route-id="@t.Id" class="col-3 btn btn-primary">Detalles</a>
                    </li>
                }
            </ul>
        </div>

        <div  id="ventana" class="col">
            <h2>Usuarios</h2>
            <a asp-action="ListarUsuarios" asp-controller="Usuarios" class="d-@display">Detalles</a>
            <table class="table table-bordered">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Rol</th>
                </tr>

                @foreach(Usuario_space.Usuario u in @Model.Usuarios)
                {
                    <tr>
                        <td scope="col">@u.Id</td>
                        <td scope="col">@u.Nombre</td>
                        <td scope="col">@u.RolUsuario</td>
                    </tr>
                }

            </table>
        </div>
    </div>
</body>
