@{
    ViewData["Title"] = "Cambiar estado de tarea";
}
@using Kanban.Models
@model Tarea_space.Tarea

@section Scripts{<partial name="_ValidationScriptsPartial"/>}

<header class="mb-5">
    <h1>Cambiar estado de tarea</h1>
</header>

<form asp-action="ModificarTarea" asp-controller="Tareas" method="post">
    <legend>Cambiar estado de tarea: @Model.Nombre</legend>
    <input type="hidden" value="@Model.Id" asp-for="Id">
    <input type="hidden" value="@Model.Nombre" asp-for="Nombre">
    <input type="hidden" value="@Model.Descripcion" asp-for="Descripcion">
    <input type="hidden" value="@Model.Color" asp-for="Color">
    <input type="hidden" value="@Model.IdTablero" asp-for="IdTablero">
    <input type="hidden" value="@Model.IdUsuarioAsignado" asp-for="IdUsuarioAsignado">
    
    <div class="mt-3 form-group">
        <label for="estado">Estado</label>
        <select name="Estado" id="estado" asp-for="Estado" class="form-select">
            <option value="@Tarea_space.EstadoTarea.Ideas">Idea</option>
            <option value="@Tarea_space.EstadoTarea.ToDo">ToDo</option>
            <option value="@Tarea_space.EstadoTarea.Doing">Doing</option>
            <option value="@Tarea_space.EstadoTarea.Review">Review</option>
            <option value="@Tarea_space.EstadoTarea.Done">Done</option>
        </select>
    </div>

    <input type="submit" class="btn btn-primary mt-3" value="cambiar">
</form>